
<div class="pageContent">
	<form method="post" action="{{url_for('perm.add')}}" class="pageForm required-validate" 
				onsubmit="return validateCallback(this, dialogAddDone);">
		<div class="pageFormContent" layoutH="56">
			{% if perm %}
			<!-- 修改 -->
			<input type="hidden" name="update" value="true"/>
			<p class="row_add">
				<label class="row_add">权限ID：</label>				
				<input name="id" class="required" type="text" size="30"  value="{{perm.id_}}" readonly="readonly"/>
				<span class="info">&nbsp;&nbsp;字母与下划线</span>
			</p>
			<p class="row_add">
				<label class="row_add">权限名称：</label>				
				<input name="name" class="required" type="text" size="30" value="{{perm.name}}"/>
				<span class="info">&nbsp;&nbsp;便于理解中文</span>
			</p>
			<p class="row_add">
				<label class="row_add">权限说明：</label>
				<input id="remark" name="remark" type="text" size="30" value="{{perm.remark}}"/>
				<span class="info">&nbsp;&nbsp;中文说明</span>
			</p>
			{% else %}
			<!-- 添加-->
			<p class="row_add">
				<label class="row_add">权限ID：</label>				
				<input name="id" class="required" type="text" size="30" />
				<span class="info">&nbsp;&nbsp;字母与下划线</span>
			</p>
			<p class="row_add">
				<label class="row_add">权限名称：</label>				
				<input name="name" class="required" type="text" size="30" />
				<span class="info">&nbsp;&nbsp;便于理解中文</span>
			</p>
			<p class="row_add">
				<label class="row_add">权限说明：</label>
				<input id="remark" name="remark" type="text" size="30" />
				<span class="info">&nbsp;&nbsp;中文说明</span>
			</p>
			{% endif %}
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
			</ul>
		</div>
	</form>
</div>