<script language="javascript">
	{% if errmsg %}	
		alertMsg.error("{{errmsg}}");
	{% endif %}
</script>

<form id="pagerForm" method="get" action="{{url_for('url.home')}}">
	
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{{url_for('url.home')}}" method="post" rel="pagerForm">
	<div class="searchBar">
		<table class="searchContent">
			<tr height="30">
				<td width="100">
					类型：
				</td>
				<td width="150">
					<select class="combox" name="type">
						<option value="">所有</option>
						{% for t in types %}
						<option value="{{t.id_}}" {% if type==t.id_  %} selected="selected" {% endif %}>{{t.name}}</option>
						{% endfor %}
					</select>
				</td>
				<td width="50">
					权限：
				</td>
				<td width="150">
					<select class="combox" name="permission">
						<option value="">所有权限</option>
						{% for perm in permissions %}
						<option value="{{perm.id_}}" {% if permission and permission==perm.id_ %} selected="selected" {% endif %}>{{perm.name}}</option>
						{% endfor %}
					</select>
				</td>
				<td>
					<div class="buttonActive">
					<div class="buttonContent"><button name="search" type="submit">搜索</button></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	</form>
	<form onsubmit="return navTabSearch(this);" action="{{url_for('url.match')}}" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr height="30">
				<td width="100">
					URL匹配测试：
				</td>
				<td width="350">
					<input type="hidden" name="test" value="1" />
					<input type="text" class="required" name="testurl" value="{{testurl}}" size="50"/>
				</td>
				<td>
					<div class="buttonActive">
					<div class="buttonContent"><button name="match" type="submit">匹配</button></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="{{url_for('url.add')}}" target="dialog" rel="dlg_addurl" width="480" title="添加URL"><span>添加</span></a></li>
			<li><a class="delete" href="{{url_for('url.delete')}}?url_id={url_id}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="{{url_for('url.add')}}?url_id={url_id}" target="dialog" width="480" title="修改URL"><span>修改</span></a></li>
			<li class="line">line</li>
			<li><a class="icon" href="{{url_for('url.apply')}}" target="ajaxTodo" ><span>应用</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="112">
		<thead>
			<tr>
				<th width="120">匹配类型</th>
				<th width="60">正则优先级</th>
				<th width="200">URL</th>
				<th width="50">访问权限</th>
			</tr>
		</thead>
		<tbody>
		{% if record_cnt > 0 %}
		  {% for record in records %}
			<tr target="url_id" rel="{{record.id_}}">
				<td>{{record.type_name}}</td>
				<td>{{record.regex_index}}</td>
				<td>{{record.url}}</td>
				<td>{{record.permname}}</td>
			</tr>
		  {% endfor %}
		{% endif %}
		</tbody>
	</table>
</div>