
<div class="pageContent">
	<form method="post" action="{{url_for('url.add')}}" class="pageForm required-validate" 
				onsubmit="return validateCallback(this, dialogAddDone);">
		<div class="pageFormContent" layoutH="56">
			{% if url %}
			<!-- 修改 -->
			<input type="hidden" name="id" value="{{url.id_}}"/>
			{% endif %}
			
			<p class="row_add">
				<label class="row_add">匹配类型：</label>
				<select class="combox" id="type" name="type" onactivate="javascript:on_type_change();" onchange="javascript:on_type_change();">
					{% for t in types %}
					<option value="{{t.id_}}" {% if url and url.type==t.id_  %} selected="selected" {% endif %}>{{t.name}}</option>
					{% endfor %}
				</select>
				<span class="info">&nbsp;&nbsp;</span>
			</p>
			<p class="row_add">
				<label class="row_add">URL：</label>				
				<input name="url" class="required" type="text" size="50"
				{% if url %} value="{{url.url}}" {% endif %}/>
			</p>
			<p class="row_add">
				<label class="row_add">访问权限：</label>
				<select class="combox" name="permission">
					<option value="">无</option>
					{% for perm in permissions %}
					<option value="{{perm.id_}}" {% if url and url.permission==perm.id_ %} selected="selected" {% endif %}>{{perm.name}}</option>
					{% endfor %}
				</select>
				<span class="info">&nbsp;&nbsp;</span>
			</p>
			<p class="row_add">
				<label class="row_add">正则优先级：</label>
				<input class="digits required" id="rindex" name="rindex" type="text" size="16" 
						{% if url %} value="{{url.rindex}}" {% endif %}/>
				<span class="info">&nbsp;&nbsp;数值越小，越靠前</span>
			</p>
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
			</ul>
		</div>
	</form>
</div>
<script>
	function on_type_change(){
		var selval = $("#type").val();
		var rindex = document.getElementById("rindex");
		if  (selval == 'R' || selval == 'r'){
			//rindex.class = "digits";
			rindex.disabled=false;
		}else{
			rindex.disabled=true;
		}
	}
	on_type_change();
</script>